#home {
    width: 100%;
}

.Home-page {
    height: 100vh;
}

.Home-page .home-bg-image {
    /* background-image: url("https://t4.ftcdn.net/jpg/05/75/84/99/360_F_575849931_j0h5pEWF8XMd9OhGZhbODPL1ELaMQR75.jpg"); */
    /* background-image: url("https://img.freepik.com/free-vector/detailed-dark-mandala-background_52683-63039.jpg?w=996&t=st=1693475074~exp=1693475674~hmac=281129b1048b13b69b09c6838394d00f8a0b4aee63139f6548cf98cc8c7f512f"); */
    background-image: url("https://img.freepik.com/free-photo/gold-necklaces-earrings-table_1340-42875.jpg?t=st=1693501954~exp=1693505554~hmac=971a25e863448d9b320d1befb0a030b7b36ac5a839c06b7489c8ff66f7355086&w=996");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-bg-image .bg-transparent-color {
    background: #00000081;
    height: 100%;
    width: 100%;
    transition: 1s;
    display: grid;
    place-items: center;
}